@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap");

/* Estilos generales inicio */

/* Le dan al body y html el 100% del alto disponible */
body,
html {
  height: 100%;
}

/* Le quita el margen al body, le da color de fonto y establece la fuente */
body {
  margin: 0;
  font-family: "Arimo", sans-serif;
  background-color: #f4f4f4;
}

/* Le pone color negro a los links */
a {
  color: #000;
}

/* Estilos generales fin */

/* Estilos hero base inicio */
.hero {
  /* Establece el alto y el padding */
  height: 50%;
  padding-top: 450px;

  /* Centra al fondo, y permite que se vea bien en cualquier tamaño de pantalla */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Estilos para el texto del hero */
.hero__texto {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* Estilos específicamente para el H1 del hero */
.hero__texto h1 {
  font-size: 3em;
  text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.66);
}

/* Estilos específicamente para el P del hero */
.hero__texto p {
  font-size: 1.5em;
}
/* Estilos Hero base Fin */

/* Estilos para los títulos de las secciones */
.section__titulos {
  text-align: center;
  margin-top: 30px;
  font-size: 1.8em;
}

/* Estilos navbar inicio */

/* Estilos generales para el navbar */
.navbar {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 3;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/* Le da el estilo a los links del navbar */
.navbar li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  transition: background-color 0.5s;
}

.navbar__link--activo {
  background-color: #a0d18c;
}

/* Le da el estilo a los links del navbar, y al botón responsive del menu, cuando le les pone el mouse arriba */
.navbar li a:hover:not(.navbar__link--activo),
.navbar .navbar__hamburger-btn:hover:not(.navbar__link--activo) {
  background-color: #e2e2e2;
}

/* Le da el estilo a el navbar__logo del lado izquierdo */
.navbar__logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* Le da estilo al menu desplegable, y su transición cuando se abre */
.navbar__menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

/* Le da estilo al contenedor del botón para desplegar el menu responsive */
.navbar__icono-desplegable {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

/* Icono del menu desplegable, crea las tres lineas que se ven, utilizando before y after */
.navbar__icono-desplegable .navbar__navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}
.navbar__icono-desplegable .navbar__navicon:before,
.navbar__icono-desplegable .navbar__navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.navbar__icono-desplegable .navbar__navicon:before {
  top: 5px;
}
.navbar__icono-desplegable .navbar__navicon:after {
  top: -5px;
}

/* Oculta al checkbox que servirá como habilitador del menu desplegable */
.navbar .navbar__hamburger-btn {
  display: none;
}

/* Transición del botón para habilitar menu desplegable, al hacerle click */
.navbar .navbar__hamburger-btn:checked ~ .navbar__menu {
  max-height: 240px;
}

.navbar
  .navbar__hamburger-btn:checked
  ~ .navbar__icono-desplegable
  .navbar__navicon {
  background: transparent;
}

.navbar
  .navbar__hamburger-btn:checked
  ~ .navbar__icono-desplegable
  .navbar__navicon:before {
  transform: rotate(-45deg);
}

.navbar
  .navbar__hamburger-btn:checked
  ~ .navbar__icono-desplegable
  .navbar__navicon:after {
  transform: rotate(45deg);
}

.navbar
  .navbar__hamburger-btn:checked
  ~ .navbar__icono-desplegable:not(.steps)
  .navbar__navicon:before,
.navbar
  .navbar__hamburger-btn:checked
  ~ .navbar__icono-desplegable:not(.steps)
  .navbar__navicon:after {
  top: 0;
}

/* Fin Icono del menu desplegable */

/* Cuando el ancho disponible es menor a 55em, cambia el estilo del navbar, para mostrarse verticalmente */
@media (min-width: 55em) {
  .navbar li {
    float: left;
  }
  .navbar li a {
    padding: 20px 30px;
  }
  .navbar__menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .navbar .navbar__icono-desplegable {
    display: none;
  }
}

/* Estilos navbar fin */

/* Estilos footer inicio */

/* Estilos general del footer */
.footer {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px;
  padding: 45px 50px;
  color: white;
}

/* Estilos para los p de la parte izquierda */
.footer__izquierda p {
  font-size: 22px;
  margin: 0;
}

/* Estilos para el input de newsletter */
.footer__news-letter-input {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #2d9fd9;
  color: #a0d18c;
  width: 200px;
  height: 30px;
  padding-left: 10px;
  display: inline;
  margin-top: 15px;
}
/* Estilos para el input de newsletter al hacer click */
.footer__news-letter-input:focus {
  outline: none;
  border: 1px solid #a0d18c;
  color: #2d9fd9;
}

/* Estilos para el botón de suscribirse a newsletter */
.footer__button-news-letter {
  display: inline;
  position: relative;
  width: 80px;
  height: 36px;
  border-radius: 18px;
  background-color: #1c89ff;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* Estilos para el botón de suscribirse a newsletter cuando se le pone el mouse arriba */
.footer__button-news-letter:hover {
  background-color: transparent;
  border-color: #fff;
  transition: all 0.3s ease-in-out;
}

/* Flota los links a las redes a la derecha */
.footer__derecha {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

/* Estilos para los links a redes sociales */
.footer__derecha a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition: all 0.25s;
}

/* Efecto al hacer hover sobre los links a redes sociales */
.footer__derecha a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

/* Permite que el footer sea responsive, posiciona los dos elementos del footer de forma vertical */
@media (max-width: 48em) {
  .footer__izquierda,
  .footer__derecha {
    text-align: center;
  }
  .footer__derecha {
    float: none;
    margin: 0 auto 20px;
  }
}

/* Estilos footer fin */
