/* Estilos Hero inicio */

/* Foto para el hero */
.hero__imagen {
  /* Agrega la imagen de fondo con una gradiente por encima para que se oscurezca un poco la foto */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/blog.jpg");
}

/* Estilos Hero Fin */

/* Inicio estilos entradas blog */
/* Columna para las entradas de blog */
.columna {
  margin: auto;
  width: 75%;
}

/* Agrega estilo de tarjeta para cada entrada */
.columna__tarjeta {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  width: 100%;
}

/* Estilos para el grid cuando el ancho de la pantalla es menor a 1024px */
.grid {
  display: grid;
  grid-template-areas:
    "titulo"
    "imagen"
    "texto";
  gap: 20px;
}

/* Estilos para el grid cuando el ancho de la pantalla es mayor a 1024px */
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "titulo  imagen"
      "texto  imagen"
      "texto imagen";
  }
}

/* Asigna el area del titulo en el grid */
.grid__titulo {
  grid-area: titulo;
}

/* Asigna el area del texto en el grid */
.grid__texto {
  grid-area: texto;
}

/* Asigna el area de la imagen en el grid */
.grid__imagen {
  margin: auto;
  grid-area: imagen;
}

/* Estilos para el elemento img de la entrada de blog, hace al tamaño de la imagen responsive */
.grid__imagen--img {
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: 20px;
}

/* Fin estilos entradas blog */

/* Inicio estilos paginacion */
.paginacion {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 10px;
}

.paginacion a {
  color: black;
  float: left;
  padding: 8px 16px;
  margin-bottom: 40px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.paginacion a.paginacion--activo {
  background-color: #4caf50;
  color: white;
}

.paginacion a:hover:not(.paginacion--activo) {
  background-color: #ddd;
}
/* Fin estilos paginacion */
