/* Estilos Hero inicio */

/* Estilos para la sección Hero */
.hero__imagen {
  /* Agrega la imagen de fondo con una gradiente por encima para que se oscurezca un poco la foto */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/contacto.jpg");
}

/* Estilos Hero Fin */

/* Inicio estilos formulario contacto */

/* Estilos para el boton de submit */
.contacto__boton--submit {
  background-color: #4caf50;
  transition: background-color 0.2s;
}

/* Estilos para el boton de reset */
.contacto__boton--reset {
  background-color: #336fb3;
  transition: background-color 0.2s;
}

/* Estilos hover para los botones */
.contacto__boton--submit:hover {
  background-color: #45a049;
}
.contacto__boton--reset:hover {
  background-color: #1d4d85;
}

/* Establece el contenedor que va a ocupar el formulario */
.contacto {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  max-width: 750px;
  margin: auto;
}

/* Fin estilos formulario contacto */
