/* Estilos Hero inicio */

/* Estilos para la sección Hero */
.hero__imagen {
  /* Agrega la imagen de fondo con una gradiente por encima para que se oscurezca un poco la foto */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/bg-hero.jpg");
}

/* Contenedor flex para las secciones, permiten que sean responsive */
.section__contenedor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  /* Estilos para todos los divs hijos de section__contenedor  */
  & > div {
    width: 500px;
    margin: 15px;
    text-align: center;
    font-size: 1em;
    margin-bottom: 50px;

    p {
      text-align: justify;
    }
  }

  &.last-div {
    margin-bottom: 75px;
  }
}

/* Alinea las imágenes de las secciones al centro */
.alinear-img-centro {
  margin: auto;
  display: block;
}

/*Descripción desplegable para imagen */
.seccion__img {
  position: relative;
  display: inline-block;

  &:hover .seccion__descripcion-img {
    display: block;
    animation: fade-in-desc 0.2s;
  }

  /* Para la transición de la descripción de las imágenes */
  &:not(:hover) .seccion__descripcion-img.did-fade-in {
    display: block;
    animation: fade-out-desc 0.2s;
  }
}

.seccion__descripcion-img {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  &--texto {
    padding: 15px;
    text-align: center;
  }
}

@keyframes fade-in-desc {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out-desc {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Estilos secciones fin */
