$color-green: #4caf50;
$color-green-hover: #45a049;
$color-blue: #367dcf;
$color-blue-hover: #1d4d85;

/* base.scss */
$redes-sociales: (
  "facebook": #3b5998,
  "twitter": #1da1f2,
  "instagram": #e1306c,
);

$margin-superior-titulo: 10;
