/* Estilos Hero inicio */

/* Estilos para la sección Hero */
.hero__imagen--contactanos {
  /* Agrega la imagen de fondo con una gradiente por encima para que se oscurezca un poco la foto */
  background-image: linear-gradient(
      rgba($color-negro, 0.5),
      rgba($color-negro, 0.5)
    ),
    url("../img/contacto.jpg");
}

/* Estilos Hero Fin */

/* Inicio estilos formulario contacto */

/* Establece el contenedor que va a ocupar el formulario */
.contacto {
  border-radius: 5px;
  padding: 20px;
  max-width: 750px;
  margin: auto;

  /* Estilos para el boton de submit */
  &__boton--submit {
    background-color: $color-green;
    transition: background-color 0.2s;

    /* Estilos hover para los botones */
    &:hover {
      background-color: $color-green-hover;
    }
  }

  /* Estilos para el boton de reset */
  &__boton--reset {
    background-color: $color-blue;
    transition: background-color 0.2s;

    &:hover {
      background-color: $color-blue-hover;
    }
  }
}

/* Fin estilos formulario contacto */
